
  body.mainmenu {
    background: #008 url('/images/blue-gradient.jpg') no-repeat fixed;
  
    margin:0;
  /*border: 100px solid darkgray; */
  width:320;
    }
  div.title {
    
    font-family: helvetica;
    font-size:120%;
    color:white;
    margin-top:10px;
    overflow:hidden;
  }
  body.mainmenu hr{
    border: 0;
    width: 80%;
    color: #FFF;
    background-color: #66F;
    height: 1px;
  }