body {
  margin:0;
	padding: 0px;
	margin: 0px;
	font-family: "Helvetica Neue", "Helvetica";
}
.rlink-button {
  margin-top:2px;
  margin-left:5px;
    color: gray;
    border: 2px solid lightgray;
    -webkit-border-radius: 3px;
    background-color:white;
    text-decoration:none;
    float:right;
    font-size:50%;;
    padding:3px;
    z-index:1;
    position:relative;
}

#crumbs { 
  list-style: none;
  background-image:url('/images/header-gradient.png');
  border-bottom:1px solid #006;
  padding:8px;
  margin:0;
  width: 100%;
  min-height: 28px;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #006;
  border-bottom: 1px solid rgb(73, 95, 144);
  color: white;
  text-shadow: rgba(0, 0, 0, 0.6) 0 -1px 0;
font-weight:bold;
   }
#crumbs li {font-size:80%; display: inline; color:white;}
#crumbs li a {font-size:125%; color:white; text-decoration:none;}


ul.iphonelist {
list-style-type:none;
 
    margin: 0;
    padding: 0;
}
li.iphonerow img.icon{
float:left;
margin-left:-44px;
margin-top:-3px;
display: inline
}
li.iphonerow img.arrow{
margin-top:8px;

}
li.iphonerow {
  border-bottom: 1px solid lightgray;
  padding:8px 5px 5px 54px;
  overflow:hidden;
  font-size:20px;
    font-family:helvetica;
    font-weight:bolder;

}
li.iphonerow span.name {
margin-top:10px;

}
li.iphonerow span.details {
font-size:50%;
font-weight:normal;
}


  div.titlebar {
  padding:3px;
  background-color:gray;
  border-bottom: 1px solid black;
  color: white;
}
div.titlebar a {
  color:white;
  
}

a.iconlink {
  display:block;
  font-family: helvetica;
  font-weight:bold;
  font-size:11px;
  color:white;
  text-decoration:none;
}
a.iconlink img{
margin-bottom:5px;
}