body {
  margin:0;
/*border: 100px solid darkgray; */
width:320; height:480;
  }
  
  div.titlebar {
  padding:3px;
  background-color:gray;
  border-bottom: 1px solid black;
  color: white;
}
div.titlebar a {
  color:white;
  
}